#titleh1{
    align-items: center;
    text-align: center;
    color: white;
    size: 300px;
    margin-top: 300px;
}
.info{
    text-align: left;
    color: white;
    margin-top: 20px;
}
.info2{
    text-align: right;
    color: white;
    margin-top: 20px;

}
#bottom{
    background-color: black;
    color: rgb(136, 136, 136);
    width: 93%;
    margin-left: 7%;
    height: 200px;
}